/* ---------------------------------------------------------------- */
/* - Photo Viewer -> Reset ---------------------------------------- */
/* ---------------------------------------------------------------- */

img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ---------------------------------------------------------------- */
/* - Photo Viewer -> Box ------------------------------------------ */
/* ---------------------------------------------------------------- */

#img-box {
    margin: 0 auto;
    display: table;
    background-color: #181717;
    width: 1000px;
    height: 598px;
    position: relative;
}

/* ---------------------------------------------------------------- */
/* - Photo Viewer -> Box -> Image --------------------------------- */
/* ---------------------------------------------------------------- */

#img-container {
    position: relative;
    display: table-cell;
    width: calc(1000px - 2px);
    height: 571.968px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

#img {
    display: inherit;
    max-width: calc(1000px - 2px);
    max-height: 571.968px;
    margin: 0 auto !important;
    float: none;
}

#button-fullscreen {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: #3e3d3d;
    display: block;
    transition: 0.3s;
}

#button-fullscreen:hover, #button-fullscreen:focus {
    color: #f1f1f1;
}

/* ---------------------------------------------------------------- */
/* - Photo Viewer -> Overlay -------------------------------------- */
/* ---------------------------------------------------------------- */

#overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(24, 23, 23);
    background-color: rgba(24, 23, 23, 0.75);
    z-index: 10;
    display: none;
    <!--[if IE]>
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF181717,endColorstr=#BF181717);
        zoom: 1;
    <![endif]-->
}

#overlay-img-container {
    height: 90%;
    text-align: center;
    margin-top: 30px;
    margin-right: 0;
    top: 2.5%;
}

#overlay-img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#overlay-img {
    max-height: 90%;
    max-width: 90%;
    text-align: center;
    vertical-align: middle;
}

#button-close {
    position: absolute;
    top: 20px;
    right: 45px;
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#button-close:hover, #button-close:focus {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    #button-close {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}
